@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", serif;
}



.primary-font-color {
    color: #0E0E0E;
}


/* font size  */
.primary-heading {
    font-size: 40px;
    font-weight: bold;
}

.secondary-heading {
    font-size: 20px;
    font-weight: bold;
}

/* borderradius  */
.border-radius-24 {
    border-radius: 24px;
}

.border-radius-16 {
    border-radius: 16px;
}

/* color  */
.background-color-main {
    background-color: #F1F1F3;
    padding: 0 160px;
}

.background-color-secondary {
    background-color: #ffffff;
}

.color-primary {
    background-color: #C6E4D6;
}

.color-secondary {
    background-color: #548ff520;
}

.color-third {
    background-color: #C6E4D6;
}

.color-fourth {
    background-color: #F7EBCF;
}


/* button  */
.btn {
    padding: 17px 34px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    border-radius: none;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.3s;
}

.btn-second {
    padding: 11px 20px;
    font-size: 16px;
}

.btn-primary {
    background-color: #006A50;
}

.btn-primary:hover {
    background-color: #005A40;
}

.btn-secondary {
    background-color: #5490F5;
}

.btn-secondary:hover {
    background-color: #4480E5;
}

.btn-third {
    background-color: #09A15C;
}

.btn-third:hover {
    background-color: #08914C;
}

.btn-fourth {
    background-color: #FFC239;
}

.btn-fourth:hover {
    background-color: #FFB229;
}


section {
    margin-bottom: 80px;
}

/* banner section  */
.banner-contents-subtitle {
    font-size: 24px;
    font-weight: 500;
    color: #0E0E0E;
    opacity: 0.5;
}

.banner-contents-title {
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
    margin-top: 16px;
    margin-bottom: 24px;
}

.banner-container {
    padding: 80px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* vision section  */
.vision-card {
    padding: 32px;
}

.vission-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.vision-text {
    font-size: 16px;
    opacity: 0.7;
    margin-top: 24px;
    margin-bottom: 32px;
}

.vision-card-title {
    opacity: 0.8;
    margin-top: 24px;
    margin-bottom: 16px;
}

.vision-card-text {
    opacity: 0.7;
    margin-bottom: 24px;
}

.speach-container {
    border: 1px solid rgba(14, 14, 14, 0.15);
    margin-top: 32px;
    padding: 48px 24px;
}


.speach-text {
    opacity: 0.8;
    margin-bottom: 12px;
    position: relative;
}

.speach-text::after {
    content: url("../assets/quote-bg.png");
    position: absolute;
    top: -26px;
    left: 0;

}

.name {
    font-size: 20px;
    font-weight: 600;
    opacity: 0.8;
}

.designation {
    opacity: 0.6;
    line-height: 24px;
}


/* News card Section  */

.news-section-text {
    margin-top: 24px;
    margin-bottom: 32px;
    opacity: 0.7;
}

.news-cards-containers {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.news-card-container {
    padding: 48px;
    display: flex;
    gap: 32px;
}

.news-card-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.news-card-contents .btn {
    padding: 13px 26px;
    margin-bottom: 8px;
}

.image {
    border-radius: 24px;
}

.content-heading {
    font-size: 32px;
    font-weight: bold;
    opacity: 0.8;
    margin-bottom: 12px;
}

.publish-time {
    opacity: 0.7;
    letter-spacing: 0.5px;
    margin: 12px 0;

}

.content {
    opacity: 0.7;
    margin-bottom: 32px;
}



/* Donation Section */
.donate {
    padding: 0 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.donate-text {
    opacity: 0.7;
}

.amount-card-container {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.card {
    padding: 40px;
    opacity: 0.8;
    border: 1px solid rgba(14, 14, 14, 0.15);
    cursor: pointer;
    transition: box-shadow 0.3s, background-color 0.3s, border 0.3s;
}

.card:hover {
    border: 1px solid rgba(255, 0, 0, 0.205);
    box-shadow: 0px 0px 16px rgba(255, 0, 0, 0.1);
    background-color: rgba(255, 0, 0, 0.205);
}

.input {
    width: 70%;
    padding: 20px 40px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 8px;
    transition: box-shadow 0.3s;
}

.input::placeholder {
    font-size: 20px;
    opacity: 0.3;
}

.input:hover,
.input:focus {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
}

/* Newsletter Section  */

.newsletter {
    padding: 80px 265px;
    text-align: center;
}

.newsletter-text {
    opacity: 0.7;
    margin-top: 16px;
    margin-bottom: 24px;
}

.sub-text {
    opacity: 0.7;
    margin-top: 24px;
}

.newsletter-form {
    width: 100%;
    position: relative;
}

.newsletter-form input {
    width: 100%;
    text-align: left;
}

.newsletter-form input::placeholder {
    font-size: 16px;
}

.newsletter-form .btn {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 8px 8px 0;
}

.newsletter-form .btn:hover {
    background-color: red;
}